* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #282828;
}

#root {
	width: 100%;
}

.title {
	text-align: center;
	color: #8a2be2;
	font-weight: 900;
	letter-spacing: 0.1rem;
	font-size: 5rem;
}

.description {
	color: white;
	text-align: center;
	font-size: 1.5rem;
	margin: 1rem;
}

.description-span {
	color: #8a2be2;
	font-weight: 900;
}

.search-panel {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.username {
	text-align: center;
	color: black;
	border: solid black 1px;
	width: 10rem;
	margin: 1rem;
	padding: 0.5rem;
}

.username:hover {
	border: solid blue 2px;
}

.username:focus {
	border: solid blue 1px;
}

.btn-availability {
	padding: 0.5rem;
	color: white;
	background-color: #8400ff;
	border-radius: 0.3rem;
	/* margin: 1rem; */
}

.btn-availability:hover {
	cursor: pointer;
}

.main-section {
	
	display: flex;
	columns: 2;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.main-section-child:nth-child(1) {
	align-items: end;
}

.main-section-child {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.company {
	font-size: 1rem;
	cursor: default;
	border-radius: 0.1rem;
	background: #a03affbd;
	box-shadow: 0px 4px 5px 0px rgba(255, 255, 255, 0);
	backdrop-filter: blur(11.5px);
	text-align: center;
	color: white;
	width :40%;
	padding: 1rem;
	margin: 1rem;
}

@media screen and (max-width: 426px) {
	.title {
		font-size: 3rem;
	}

	.description {
		font-size: 1rem;
	}

	.company {
		font-size: 0.5rem;
		width: 45%;
		padding: 0.5rem;
	}
}
	